body { background-image: linear-gradient(#90C7E3, #FFFFFF);
	   background-repeat: no-repeat;
	   font-family: Century Gothic; }


main { margin: auto;
	   background-color: #FFFFFF;
	   width: 70%; }


footer { background-color: #FFFFFF;
         text-align: center;
		 font-family: Century Gothic;
		 color: #000000; }


h1 { font-family: Century Gothic;
	 font-size: 175%;
	 color: #FFFFFF; }


h3 { font-family: Verdana;
	 color: #000000; }

#metarcolors { background-color: #90C7E3;
               color: white; }

.fieldset-auto-width {
         display: inline-block; }
